<div class="burger"></div>
<div class="navbar">
  <div class="nav-close">X</div>
  <div class="nav-container">
    <img src="<%= currentUser.avatar %>">
    <h2><%= currentUser.username %></h2>
    <a href="/auth/logout">Logout</a>
    <a href="/post/new">Nueva entrada</a>
    <a href="/profile/<%= currentUser._id %>">Ver tu perfil</a>
    <a href="/profile/<%= currentUser._id %>/edit">Edita tu perfil</a>
  </div>
</div>