<script src="/javascripts/navbar.js"></script>
<div class="navbar">
  <img src="<%= currentUser.avatar %>">
  <h2><%= currentUser.username %></h2>
  <a href="/auth/logout">Logout</a>
  <a href="/post/new">Nueva entrada</a>
</div>