<div class="login">
  <h1 class="title">Hater<span>Hack</span></h1>
  <h2>Ah, ¿otra vez tú?</h2>
  <form action="/auth/login" method="post">
    <label for="name">Nombre:</label>
    <input type="text" name="name">
    <p><% if (locals.message){ %>
      <%= locals.message %>
    <% } %></p>
    <label for="password">Contraseña:</label>
    <input type="password" name="password">
    <%- include partials/errors %>
    <button type="submit">Entrar</button>
  </form>
  <a href="/auth/register">¿No tienes cuenta?</a>
</div>
