/** ----  root  ---- **/
:root{
  --azul-cor:#61C1F9;
  --azul-osc:#00244E;
  --blanco:#FCFCFC;
}

*{
  margin:0;
  padding:0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: linear-gradient(to right bottom, #048cc0, #2999ce, #3ea6dc, #50b3eb, #61c1f9);
  background-attachment: fixed;
  background-size: cover;
  color:var(--blanco);
}

a {
  color: var(--azul-cor);
}

/* ---- login and register ---- */
.title{
  font-family: 'Roboto';
  font-weight: 900;
  font-size:4em;
  margin:30px 35px 40px;
  background:var(--azul-osc);
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  padding:40px 0;
}
.title span{
  display:block;
  font-weight: 100;
}
.login h2{
  margin-bottom:10px;
}
.login{
  width: 70%;
  margin:0 auto;
  text-align:center;
}
.login input, .login a, .login button{
  display:block;
  margin:5px auto 20px;
  width:80%;
  padding:10px;
  font-size:1.5em;
  border:none;
  outline:none;
}
.login label{
  margin:0;
  color:var(--azul-osc);
  font-size:1.5em;
}
.login button{
  background:var(--azul-osc);
  color:var(--blanco);
}
.login a{
  color:var(--azul-osc);
  text-decoration:none;
}
/** ---- main ---- */
.main-container{
  display:flex;
}
.post-container{
  width:100vw;
}
.post{
  font-size:16px;
  background:white;
  margin:20px 20px 20px 70px;
  color:black;
  padding:15px;
  border-radius: 15px;
  /* display: flex;
  flex-direction: column; */
}

.post .main-title {
  font-size: 25px;
  text-decoration: none
}

.post .info-container {
  display: inline-block;
  margin-bottom: 20px;
}

.info-container p {
  display: inline-block;
  font-size: 13px;
}

.post .main-author {
  display: inline-block;
  font-size: 13px;
  margin-left: 5px;

}

.post .author-link {
  font-size: 13px;
  text-decoration: none;
}

.info-container .date {
  font-size: 13px;
  margin-right: 5px;
  margin-bottom: 5px;
  color: rgb(60, 80, 80)
}

.post .main-text {
  margin-bottom: 20px;
  font-size: 16px;
}

/** ---- navbar ---- */
.burger{
  width:50px;
  height:50px;
  position:fixed;
  top:10px;
  left:10px;
  background-image:url('/images/menu.png');
  background-size:50px 50px;
  background-color:#fff;
  border-radius:50%;
}
.navbar{
  left:0;
  width:0;
  height:100vh;
  background:black;
  text-align:center;
  overflow:hidden;
  transition:1.5s;
}
.open{
  width:100px;
  transition:1.5s;
  position:fixed;
}
.navbar img{
  width:50%;
}

/** ---- Profile ---- **/
.profile{
  text-align:center;
  width:50%;
  background:var(--blanco);
  color:var(--azul-osc);
  margin:50px auto;
  padding:20px;
  border-radius:4px;
}
.profile img{
  width:30%;
}