/** ----  root  ---- **/
:root{
  --azul-cor:#61C1F9;
  --azul-osc:#00244E;
  --blanco:#FCFCFC;
  --negro-cor: rgb(53, 58, 61);
  --yellow-cor: rgb(250, 255, 189);
  --azul-buttons-corp: rgb(36, 122, 185);
  --gris-cor:#959ba0;
  --negro-navbar: rgb(51, 55, 58);
}

html{
  font-family:sans-serif;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
}

body {
  margin: 0;
  padding: 0;
  background-color:var(--negro-cor);
  /*
  background-image: linear-gradient(to right bottom, #048cc0, #2999ce, #3ea6dc, #50b3eb, #61c1f9);
  */
  background-attachment: fixed;

  color:var(--blanco);
}

a {
  color: var(--azul-cor);
}

/* ---- login and register ---- */
.login{
  width: 100%;
  margin:0 auto;
  text-align:center;
}
.login input, .login a, .login button{
  display:block;
  margin:5px auto 20px;
  padding:10px;
  font-size:14px;
  border:none;
  outline:none;
}

.iron-logo {
  margin-top:30px;
  width: 230px;
  display: inline-block;
}

.login-title {
  font-size: 30px;
  margin-bottom: -10px;
}

.login-form {
  padding-top: 40px;
  width: 90%;
  margin: 0 auto;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.login-input-field {
  height: 20px;
  border-radius: 5px;
  width: 90%
}

.login-input-field:focus {
  background-color: var(--yellow-cor);
}

.login-buton-submit {
  background-color:var(--azul-buttons-corp);
  color:white;
  font-weight: 700;
  border-radius: 5px;
  width: 95%;
  height: 50px;
}

.login-register-link, p {
  color:var(--gris-cor);
  text-decoration:none;
}

.register-options {
  display: flex;
  width: 95%;
  margin: 0 auto;
}

.radio-buttons {
  margin: 0 auto;
}

.radio-buttons-text {
  margin-right: 15px;
}

.radio-buttons-for-ux {
  display: flex;
  flex-direction: row;
  width: 95%;
  margin: 0 auto;
}

.title{
  font-family: 'Roboto';
  font-weight: 900;
  font-size:4em;
  margin:30px auto 40px;
  background:var(--azul-osc);
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  padding:40px 0;
  width:200px;
  height:140px;
}
.title span{
  display:block;
  font-weight: 100;
}


/** ---- main ---- */
.main-container{
  margin-top: 100px;
}

.main-container h1{
  text-align:center;
  font-size: 25px;
}

.post-container{
  width:100vw;
  transition:1.5s;
  display: flex;
  flex-flow: column-reverse;
}
.post{
  font-size:16px;
  background:var(--blanco);
  margin:20px;
  color:black;
  padding:15px;
  border-radius: 15px;
  box-shadow:2px 2px 4px var(--azul-osc);
}

.index-post-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.index-post-avatar {
  width: 40px;
  height: 40px; 
  margin-right: 20px
}

.post-avatar {
  width: 40px;
  height: 40px; 
  margin-right: 20px
}

.coment-avatar {
  width: 40px;
  height: 40px; 
  margin-right: 20px 
}

.post-title a{
  font-size: 25px;
  text-decoration: none;
  color: #007db7;
}

.post-title {
  font-size: 25px;
  text-decoration: none;
}

.post .info-container {
  margin-bottom: 20px;
  margin-top: 5px;
}

.post .main-author {
  display: inline-block;
  font-size: 13px;
}

.post .author-link {
  font-size: 13px;
  text-decoration: none;
  color: #007db7;
}

.info-container {
  font-size: 13px;
  margin-right: 5px;
  margin-bottom: 5px;
  color: rgb(60, 80, 80)
}

.post-text{
  margin-bottom: 30px;
}

.post-buttons{
  margin-top: 30px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.icon-hater {
  width: 25%;
}

.button-score {
  margin-right: 5px;
  font-size: 16px;
}

.button-img {
  width: 25px;
}


.post-buttons button{
  border:none;
  background:none;
  height:25px;
}
.post-buttons label{
  height:15px;
  padding:5px;
}

.info-container p {
  display: inline-block;
  font-size: 13px;
}

.post .main-text {
  margin-bottom: 20px;
  font-size: 16px;
}

.move{
  margin-left:100px;
  transition:1.5s;
}

/** ---- navbar ---- */
.navbar{
  position:fixed;
  width: 100vw;
  top: 0;
  background: var(--negro-navbar);
  overflow:hidden;
  transition:1.5s;
  display: flex;
  padding-top: 10px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav-avatar {
  height: 50px;
}

.nav-logo-image {
  width: 80%;
}

.nav-elements {
  margin: 0px 20px;
}

.navbar-options {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-options a {
  text-decoration: none;
  color:var(--gris-cor);
  font-size: 20px;
}

.navbar-options i {
  text-decoration: none;
  color:var(--gris-cor);
  font-size: 30px;
}

.navbar-options a:hover{
  color:var(--blanco);
}

.menu i {
  color: white;
  font-size: 30px;
}

.open{
  width:150px;
  transition:1.5s;
}


/** ---- Profile ---- **/
.profile{
  text-align:center;
  width:80%;
  background:var(--blanco);
  color:var(--azul-osc);
  margin:50px auto;
  padding:20px;
  border-radius:4px;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.profile-header h1{
  font-size: 30px;
}

.profile img{
  width:30%;
}

/** -- New Post --**/
.new-post-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.new-post-title {
  font-size: 30px;
  display: inline-block;
  margin-left: 15px;
  width: 78%;
}

.new_post_back-button {
  text-decoration: none;
  display: inline-block;
  color: white;
  margin-right: 10px;

}

.post-title-area {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.post-title-area label {
  margin-bottom: 10px;
  font-size: 16px;
}

.post-label-text {
  margin-top: 10px;
}

.post-title-area input {
  border-radius: 8px;
  border: none;
  padding: 10px;
}

.post-text-area {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.post-text-area label {
  margin-bottom: 10px;
  font-size: 16px;
}

.post-text-area textarea {
  height: 300px;
  border-radius: 10px;
  border: none;
  padding: 10px;
}

.new-post-button-submit {
  margin-top: 30px;
}

.new-post-button-submit {
  border: 1px solid rgb(42, 100, 225);
  border-radius: 10px;
  background-color: rgb(42, 100, 225);
  width: 60%;
  color: white;
  margin: 40px auto;
  text-align: center;
  padding: 10px;
}



