<form action="/auth/register" method="post">
  <label for="name">Nombre:</label>
  <input type="text" name="name">
  <label for="password">Contraseña:</label>
  <input type="text" name="password">
  <input type="submit" value="Registrar">
</form>