<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HaterHack</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700,900&amp;subset=latin-ext" rel="stylesheet">
  </head>
  <body>
    <%- body %>
    <script src="/javascripts/navbar.js"></script>
  </body>
</html>