<%- include ../partials/navbar %>
<form action="/post/new" method="post">
  <div class="new-post-header">
    <p class="new-post-title">New post</p>
    <a class="new_post_back-button" href="/"> < Back</a>
  </div>
  <div class="post-title-area">
    <label class="post-title"for="title">Title:</label>
    <input type="text" name="title">
  </div>
  <div class="post-text-area">
    <label class="post-label-text" for="text">Text:</label>
    <textarea name="text"></textarea>
  </div>
  <%- include ../partials/errors.ejs %>
  <div class="new-post-button-submit">
    <input type="submit" value="Post & Cry">
  </div>
</form>