<form action="/post/new" method="post">
  <label for="title">Título</label>
  <input type="text" name="title">
  <label for="text">Text</label>
  <textarea name="text"></textarea>
  <%- include partials/errors.ejs %>
  <input type="submit" value="Llorar">
</form>